body{
    margin:0;
    padding:0;
   
    
}
.box{
    width: 200px;
    height: 200px;
    background: red;
    margin: 30px 10 px;
    /*margin: 30px;*/
    /*top:30px;*/
    /*bottom: 30px;*/
    /*left:30px;*/
    /*right:30px;*/
    margin-top: 50px;
margin-left: 200px;
margin-bottom: 20px;
margin-left: 25px;
border: black solid 5px;
border: black dotted 5px;
border:black dashed 5px;
}
.box1 h5{
    color:white;
    font-size:50px;
    text-align:center;

}



.box2{
    margin-left:5px;
    margin-top:10px;
    background:green;
}
.ncell-purple{
    width:500px;
    height:250px;
    background-color: purple;
    margin-left: 50px;
    margin-bottom: 50px;   
    position: absolute; 

}

.ncell-white{
    width: 200px;
    height: 80px;
    margin-left: 150px;
    margin-top:100px;
    background-color: white ;
    border-radius: 0px 15px 0px 15px;
}

.img{
    width: 100px;
    height: 150px;
}